<% provide(:title, 'All Pages') %>

<p><%= link_to 'New Page', [:new, :admin, :page] %></p>

<h1>All Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Content</th>
      <th>Author</th>
      <th>Created</th>
      <th>Published</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.slug %></td>
        <td><%= page.content %></td>
        <td><%= page.author.name %></td>
        <td><%= page.created_at %></td>
        <td><%= page.published_at %></td>
        <td><%= link_to 'Show', [:admin, page] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, page] %></td>
        <td><%= link_to 'Destroy', [:admin, page], method: :delete, data: { confirm: 'Are you sure?' } %></td>         
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Page', [:new, :admin, :page] %></p>
