<% provide(:title, @page.title) %>
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @page.author.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @page.created_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @page.published_at %>
</p>

<%= link_to 'Edit', [:edit, :admin, @page] %> |
<%= link_to 'Back', [:admin, :pages] %>
