<%= form_for ([@article, @comment]) do |f| %>

  <h3>Something to say?</h3>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div>
    <%= f.label :author, class: 'screen-reader' %>
    <div class="form-input">
      <%= f.text_field :author, placeholder: 'Name (required)' %>
    </div>
  </div>
  <div>
    <%= f.label :email, class: 'screen-reader' %>
    <div class="form-input">
      <%= f.text_field :email, placeholder: 'Email (required)' %>
    </div>
  </div>
  <div>
    <%= f.label :url, class: 'screen-reader' %>
    <div class="form-input">
      <%= f.text_field :url, placeholder: 'Website (optional)' %>
    </div>
  </div>
  <div>
    <%= f.label :content, class: 'screen-reader' %>
    <div class="form-input">
      <%= f.text_area :content, placeholder: 'I\'m always open to comments, lend me yours!' %>
    </div>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>