<% provide(:title, @article.title) %>

<article class="article">

  <%= render partial: 'articles/article_header', locals: { article: @article } %>

  <p>
    <%= @article.content.html_safe %>
  <p>

  <%= render partial: 'articles/article_footer', locals: { article: @article } %>

  <section id="comments-list">
    <%= render @article.comments %>
  </section>

<% if @article.allow_comments? %>
  <section id="comment-form">
    <%= render 'articles/comment_form' %>
  </section>
<% else %>
  <p>Comments are closed for this <%= @article.type.downcase %></p>
<% end %>

</article>