<% provide(:title, 'Dashboard') %>

<h1>Dashboard</h1>

<div class="cf">
  <div class="admin-box">
    <%= link_to 'Manage Users', [:admin, :users] %>
  </div>
  <div class="admin-box">
    <%= link_to 'Manage Articles', [:admin, :articles] %>
  </div>
  <div class="admin-box">
    <%= link_to 'Manage Comments', [:admin, :comments] %>
  </div>
  <div class="admin-box">
    <%= link_to 'Manage Categories', [:admin, :categories] %>
  </div>
  <div class="admin-box">
    <%= link_to 'Manage Tags', [:admin, :tags] %>
  </div>
</div>