<% provide(:title, 'Dashboard') %>

<h1>Dashboard</h1>

<div class="cf">
  <%= link_to [:admin, :users] do %>
    <div class="admin-box">
      <h2>Manage Users</h2>
    </div>
  <% end %>
  <%= link_to [:admin, :articles] do %>
    <div class="admin-box">
      <h2>Manage Articles</h2>
    </div>
  <% end %>
  <%= link_to [:admin, :comments] do %>
    <div class="admin-box">
      <h2>Manage Comments</h2>
    </div>
  <% end %>
  <%= link_to [:admin, :categories] do %>
    <div class="admin-box">
      <h2>Manage Categories</h2>
    </div>
  <% end %>
  <%= link_to [:admin, :tags] do %>
    <div class="admin-box">
      <h2>Manage Tags</h2>
    </div>
  <% end %>
</div>