<% provide(:title, @user.name) %>
<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User url:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>User login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>User password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>