<% provide(:title, @page.title) %>

<article class="page">

  <%= render partial: 'pages/page_header', locals: { page: @page } %>

  <p>
    <%= @page.content.html_safe %>
  <p>

  <%= render partial: 'pages/page_footer', locals: { page: @page } %>

  <div id="comments-list">
    <%= render @page.comments %>
  </div>

  <div id="comment-form">
    <%= render 'pages/comment_form' %>
  </div>

</article>