<% provide(:title, 'All Categories') %>

<p><%= link_to 'New Category', [:new, :admin, :category] %></p>

<h1>All Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display Name</th>
      <th>Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.display_name %></td>
        <td><%= category.created_at %></td>
        <td><%= link_to 'Show', [:admin, category] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, category] %></td>
        <td><%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>         
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Category', [:new, :admin, :category] %></p>