<% provide(:title, @post.title) %>

<div class="post">

  <%= render 'post_header' %>
  
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
</div>
<div id="comments">
  <ol class="comment-list">
  <% @post.comments.each do |comment| %>
    <li class="comment">
      <div class="comment-header">
        <%= comment.author %>
        <%= comment.created_at.to_formatted_s(:long) %>
      </div>
      <div class="comment-content" id="comment-<%= comment.id %>">
        <%= comment.content %>
      </div>
    </li>
  <% end %>
  </ol>
</div>