<% provide(:title, @post.title) %>

<article class="post">

  <%= render partial: 'posts/post_header', locals: { post: @post } %>

  <p>
    <%= @post.content.html_safe %>
  <p>

  <%= render partial: 'posts/post_footer', locals: { post: @post } %>

  <div id="comments-list">
    <%= render @post.comments %>
  </div>

  <div id="comment-form">
    <%= render 'posts/comment_form' %>
  </div>

</article>