<% provide(:title, @post.title) %>

<article class="post">

  <%= render partial: 'post_header', locals: { post: @post } %>

  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>

  <div id="comments-list">
  <% @post.comments.each do |comment| %>
    <article class="comment">
      <header>
        <%= comment.author %>
        <%= comment.created_at.to_formatted_s(:long) %>
      </header>
      <div class="comment-content" id="comment-<%= comment.id %>">
        <%= comment.content %>
      </div>
    </article>
  <% end %>
  </div>

</article>