<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :user_type %><br>
    <%= f.text_field :user_type %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
