  <footer>
    <div>
      <p>© 2013 Ikumentary Blog</p>
    </div>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Contact', contact_path %>
      <%= link_to image_tag('twitter.png'), 'https://twitter.com/ikumentary_blog', title: 'Ikumentary on Twitter' %>
      <%= link_to image_tag('facebook.png'), 'https://facebook.com/ikumentary_blog', title: 'Ikumentary on Twitter' %>
      <%= link_to image_tag('rss-feed.png'), 'http://feeds.feedburner.com/ikumentary_blog', title: 'Ikumentary RSS Feed' %>
    </nav>
  </footer>