  <footer class="site">
    <div class="cf">
      <nav id="nav-footer">
        <%= link_to 'HOME', root_path %>
        <%= link_to 'ABOUT', about_path %>
        <%= link_to 'CONTACT', contact_path %>
      </nav>
      <nav id="nav-social">
        <%= link_to image_tag('twitter.png'), 'https://twitter.com/ikumentary_blog', title: 'Ikumentary on Twitter' %>
        <%= link_to image_tag('facebook.png'), 'https://facebook.com/ikumentary_blog', title: 'Ikumentary on Twitter' %>
        <%= link_to image_tag('rss-feed.png'), 'http://feeds.feedburner.com/ikumentary_blog', title: 'Ikumentary RSS Feed' %>
      </nav>
    </div>
    <div id="copyright">
      <p>Ikumentary Blog created by <%= link_to 'Liam Keene', 'http://liamkeene.com', title: 'Liam Keene' %> using <%= link_to 'Rails', 'http://rubyonrails.org/', title: 'Ruby on Rails' %></p>
    </div>
  </footer>