  <header>
    <%= link_to image_tag('ikumentary-logo.png'), root_path %>
    <a id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Contact', contact_path %>
      <% if signed_in? %>
        <%= link_to 'Sign Out', admin_sign_out_path, method: 'delete' %>
      <% end %>
    </nav>
  </header>