  <header class="site cf">
    <%= link_to 'ikumentary', root_path, id: 'branding' %>
    <a id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav id="nav-site">
      <%= link_to 'HOME', root_path %>
      <%= link_to 'ABOUT', about_path %>
      <%= link_to 'CONTACT', contact_path %>
      <% if signed_in? %>
      <a id="nav-admin-toggle">ADMIN</a>
      <nav id="nav-admin">
        <%= link_to 'Dashboard', admin_path %>
        <%= link_to 'Sign Out', admin_sign_out_path, method: 'delete' %>
      </nav>
      <% end %>
    </nav>
  </header>