<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header class="site cf">
    <%= render 'layouts/header' %>
  </header>

  <div class="container">
    <% flash.each do |key, value| %>
    <div class="error error-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div class="grid grid-pad">
    <div class="col-3-4">
      <%= yield %>
    </div>
    <div class="col-1-4">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>

  <footer class="site">
    <%= render 'layouts/footer' %>
  </footer>

  <%= render 'layouts/scripts' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
